---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
---
<Base>
  <Nav slot="nav" />
  <article class="content">
    <header>
      <h3 class="section-title">contact</h3>
    </header>
    <section>
      <p><a href="mailto:lola_______@outlook.com">lola_______@outlook.com</a></p>
    </section>
  </article>
</Base>
