---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
---
<Base>
  <Nav slot="nav" />
  <article class="content">
    <section class="shows-list">
      <h3 class="section-title">live</h3>
      <ul>
        <li><strong>10 May 2024</strong> — The Shacklewell Arms: I OH YOU label presents: The Belair Lip Bombs, Man Woman Chainsaw, SORRY DJ set</li>
        <li><strong>27 March 2025</strong> — Moth Club: Something in the Lake, Borough Council, Rabbitfoot</li>
        <li><strong>7 April 2025</strong> — @windmillbrixton: Multiple People [LA], Pazeamor, Tek lintowe (dj) @teklintowe, Able Archer (dj) @chr_st_an___</li>
        <li><strong>21 May 2025</strong> — Windmill Brixton: The Rebel, Alicia Edelweiss</li>
        <li><strong>12 July 2025</strong> — Secret Location: The Rebel, Fiscal Harm</li>
        <li><strong>23 August 2025</strong> — Secret Location: CANTY, Spike</li>
        <li><strong>2 October 2025</strong> — St Giles Church: The Rebel, Bell practice, Multiple People [LA]</li>
        <li><strong>8 November 2025</strong> — The Blue Moon, Cambridge with Immersion, Pete Um, Visit me, Quade</li>
        <li><strong>13 November 2025</strong> — Lexington with AUTOMATIC</li>
        <li><strong>19 November 2025</strong> — Lexington with PENCIL</li>
      </ul>
    </section>
  </article>
</Base>
